@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.landing-page article {
  margin-top: 80px;
}
.landing-page article h1 {
  font-size: 2rem;
  font-weight: bolder;
}
.landing-page .block-contents {
  width: 1280px;
  max-width: 1280px;
  margin: 40px auto 0 auto;
}
.landing-page .hero {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.landing-page .hero .hero-left {
  max-width: 560px;
  margin-top: 50px;
}
.landing-page .hero .hero-left .advertisement {
  margin-bottom: 2rem;
}
.landing-page .hero .hero-left .advertisement h1 {
  font-size: 2.35rem;
  font-weight: bolder;
  margin-bottom: 0.35rem;
}
.landing-page .hero .hero-left .advertisement p {
  font-size: 0.8rem;
  color: #8e8e8e;
}
.landing-page .hero .hero-left button {
  width: 160px;
  height: 48px;
  letter-spacing: 0.06em;
  font-weight: 600;
  border-radius: 8px;
}
.landing-page .hero .hero-right .token-of-the-day {
  width: 480px;
  height: 480px;
  border-radius: 16px;
  border: 1px solid #ebebeb;
  box-shadow: 0px 4px 20px rgba(168, 168, 168, 0.25);
}
.landing-page .hero .hero-right .token-of-the-day .token .token-img {
  background-color: #888888;
  height: 392px;
  border-radius: 16px 16px 0 0;
}
.landing-page .hero .hero-right .token-of-the-day .token .token-short-info {
  padding: 0 24px;
  height: 88px;
  display: flex;
  align-items: center;
}
.landing-page .hero .hero-right .token-of-the-day .token .token-short-info .creator-pfp {
  min-width: 40px;
  height: 40px;
  background-color: #888888;
  border-radius: 100%;
}
.landing-page .hero .hero-right .token-of-the-day .token .token-short-info .info {
  width: 100%;
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
}
.landing-page .hero .hero-right .token-of-the-day .token .token-short-info .info h4 {
  font-weight: bolder;
}
.landing-page .trending-collections,
.landing-page .rising-stars {
  text-align: center;
}
.landing-page .top-collections h1 {
  text-align: center;
}
.landing-page .top-collections .top-collection {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.landing-page .top-collections .top-collection h5,
.landing-page .top-collections .top-collection h6 {
  font-weight: bolder;
}
.landing-page .top-collections .top-collection .collection-details {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.landing-page .top-collections .top-collection .collection-details img {
  width: 64px;
  height: 64px;
}
.landing-page .top-collections .top-collection .collection-details .details {
  width: 100%;
  margin-left: 24px;
}
.landing-page .top-collections .top-collection .collection-details .details .values {
  display: flex;
  justify-content: space-between;
}
.landing-page .top-collections .top-collection .collection-details .details .values h6 {
  color: #aeaeae;
}
.landing-page .features-preview {
  text-align: center;
  background-color: #fbfdff;
  padding: 40px 0;
}
.landing-page .features-preview .features {
  margin-top: 50px;
}
.landing-page .features-preview .features .feature .description {
  margin-top: 24px;
}
.landing-page .features-preview .features .feature .description h3 {
  font-weight: bolder;
  margin-bottom: 16px !important;
}
.landing-page .features-preview .features .feature .description p {
  color: #a0a0a0;
  font-size: 0.8rem;
}
.landing-page .category-container {
  text-align: center;
}
.landing-page .category-container .category {
  margin-top: 50px;
}
.landing-page .category-container .category .category-row {
  margin-bottom: 24px;
}
.landing-page .category-container .category .category-row .card-category .card-category-cover {
  border-radius: 16px 16px 0 0;
  height: 232px;
}
.landing-page .category-container .category .category-row .card-category h2 {
  font-weight: bolder;
  padding: 24px 0;
}

.card, .token-page .token-contents .left-content, .marketplace .tokens .token, .medium-card .medium-card-block, .landing-page .trending-collections .collections .medium-card-block,
.landing-page .trending-collections .creators .medium-card-block,
.landing-page .rising-stars .collections .medium-card-block,
.landing-page .rising-stars .creators .medium-card-block, .landing-page .category-container .category .category-row .card-category {
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 16px;
}

.medium-card .medium-card-block, .landing-page .trending-collections .collections .medium-card-block,
.landing-page .trending-collections .creators .medium-card-block,
.landing-page .rising-stars .collections .medium-card-block,
.landing-page .rising-stars .creators .medium-card-block {
  position: relative;
  height: 320px;
  max-height: 320px;
  overflow: auto;
}
.medium-card .medium-card-block .medium-card-cover, .landing-page .trending-collections .collections .medium-card-block .medium-card-cover,
.landing-page .trending-collections .creators .medium-card-block .medium-card-cover,
.landing-page .rising-stars .collections .medium-card-block .medium-card-cover,
.landing-page .rising-stars .creators .medium-card-block .medium-card-cover {
  border-radius: 16px 16px 0 0;
  background-color: #888888;
  height: 190px;
}
.medium-card .medium-card-block .medium-card-profile, .landing-page .trending-collections .collections .medium-card-block .medium-card-profile,
.landing-page .trending-collections .creators .medium-card-block .medium-card-profile,
.landing-page .rising-stars .collections .medium-card-block .medium-card-profile,
.landing-page .rising-stars .creators .medium-card-block .medium-card-profile {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.medium-card .medium-card-block .medium-card-profile img, .landing-page .trending-collections .collections .medium-card-block .medium-card-profile img,
.landing-page .trending-collections .creators .medium-card-block .medium-card-profile img,
.landing-page .rising-stars .collections .medium-card-block .medium-card-profile img,
.landing-page .rising-stars .creators .medium-card-block .medium-card-profile img {
  width: 128px;
  height: 128px;
  border: 10px solid #ffffff;
  box-shadow: 0px 4px 20px rgba(168, 168, 168, 0.25);
  border-radius: 100px;
}
.medium-card .medium-card-block .medium-card-profile .medium-card-name, .landing-page .trending-collections .collections .medium-card-block .medium-card-profile .medium-card-name,
.landing-page .trending-collections .creators .medium-card-block .medium-card-profile .medium-card-name,
.landing-page .rising-stars .collections .medium-card-block .medium-card-profile .medium-card-name,
.landing-page .rising-stars .creators .medium-card-block .medium-card-profile .medium-card-name {
  margin-top: 8px;
}
.medium-card .medium-card-block .medium-card-profile .medium-card-name h5, .landing-page .trending-collections .collections .medium-card-block .medium-card-profile .medium-card-name h5,
.landing-page .trending-collections .creators .medium-card-block .medium-card-profile .medium-card-name h5,
.landing-page .rising-stars .collections .medium-card-block .medium-card-profile .medium-card-name h5,
.landing-page .rising-stars .creators .medium-card-block .medium-card-profile .medium-card-name h5 {
  font-weight: bolder;
}

.marketplace {
  padding: 0 80px;
  margin: 100px auto 0 auto;
}
.marketplace .marketplace-header {
  display: flex;
  justify-content: space-between;
}
.marketplace .marketplace-header h1 {
  font-size: 2rem;
  font-weight: bolder;
}
.marketplace .marketplace-header button {
  width: 120px;
  height: 48px;
  letter-spacing: 0.06em;
  font-weight: 600;
  border-radius: 8px;
}
.marketplace .tokens {
  margin-top: 40px;
}
.marketplace .tokens .token {
  padding: 24px;
}
.marketplace .tokens .token .token-img {
  width: 100%;
  padding-top: 100%;
  background-color: #888888;
  border-radius: 16px;
}
.marketplace .tokens .token .token-info {
  background-color: #f9f9f9;
  padding: 24px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
}
.marketplace .tokens .token .token-info p {
  font-size: 0.8rem;
  color: #353840;
}
.marketplace .tokens .token .token-info h4 {
  font-weight: bolder;
}

@media only screen and (min-width: 1960px) {
  .marketplace {
    width: 1960px;
  }
}
.token-page .page-cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c4c4c4;
  width: 100%;
  height: 400px;
}
.token-page .token-contents {
  width: 1280px;
  max-width: 1280px;
  height: 480px;
  max-height: 480px;
  margin: 120px auto 0 auto;
}
.token-page .token-contents .left-content {
  padding: 20px;
}
.token-page .token-contents .left-content .token-img {
  width: 100%;
  padding-top: calc(100% - 8px);
  background-color: #888888;
  border-radius: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  letter-spacing: 0.04rem;
  margin: 0 !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
body .ant-layout-header {
  background: transparent;
}
body .ant-layout {
  background: #fff;
}
body .ant-btn-primary {
  background: #0652dd;
  border: #0652dd;
}
body .ant-btn-primary:hover {
  background: #0047ca;
  border: #0047ca;
}
body .loading {
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 400px);
  align-items: center;
}
body .loading .loader {
  width: 56px;
  height: 56px;
  border: 8px solid #0652dd;
  border-radius: 50%;
  position: relative;
  animation: loader-scale 1s ease-out infinite;
}
@keyframes loader-scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
body header {
  z-index: 1;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
}
body header nav .nav-banner {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header nav .nav-banner .logo-outter {
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav .nav-banner .logo-outter img {
  width: 24px;
  height: 24px;
}
body header nav .nav-banner h4 {
  font-weight: bold;
  margin: 0;
}
body header nav .nav-search-bar {
  width: 560px;
  display: flex;
  align-items: center;
}
body header nav .nav-search-bar input.ant-input {
  height: 40px;
  border-radius: 6px;
}
body header nav .nav-search-bar button {
  border-radius: 0 6px 6px 0 !important;
  height: 40px;
  background: #0652dd;
  border: 1px solid #0652dd;
}
body header nav .nav-search-bar .ant-input-group-addon {
  background: transparent;
}
body header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
}
body header nav ul li {
  margin: 0 16px;
  list-style: none;
}
body header nav ul li h4 {
  color: black;
  font-weight: bolder;
  margin: 0;
}
body header nav ul li h4:hover {
  color: #0652dd;
}
body main {
  width: 100%;
  margin: 0 auto;
}
body footer {
  text-align: center;
  margin-top: 80px;
}
body footer .nav-banner {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .nav-banner .logo-outter {
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer .nav-banner .logo-outter img {
  width: 24px;
  height: 24px;
}
body footer .nav-banner h4 {
  font-weight: bold;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
