.collection-view-container {
    .page-cover {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #c4c4c4;
        width: 100%;
        height: 400px;
    }
    .collection-contents {
        position: relative;
        z-index: 2;
        width: 1280px;
        max-width: 1280px;
        margin: 210px auto 0 auto;
        @extend .main-content-style;
        .tabs {
            @extend .sub-navigator;
        }
        .items-collection-container {
            .title {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
                h1 {
                    color: #000;
                    font-size: 2rem;
                    font-weight: 700;
                    letter-spacing: 0.02em;
                }
                button {
                    border-radius: 8px;
                    width: 100px;
                    height: 48px;
                    font-weight: 700;
                    letter-spacing: 0.06em;
                }
            }
        }
    }
}
