@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./landing";
@import "./modules";
@import "./marketplace";
@import "./resposive";
@import "./tokenPage";
@import "./accountPage";
@import "./collectionView";
@import "../../node_modules/spinthatshit/src/loaders.scss";
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    letter-spacing: 0.04rem;
    margin: 0 !important;
}
* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    // scroll-behavior: smooth;
    .ant-layout-header {
        background: transparent;
    }
    .ant-layout {
        background: #fff;
    }
    .ant-btn-primary {
        background: #0652dd;
        border: #0652dd;
    }
    .ant-btn-primary:hover {
        background: #0047ca;
        border: #0047ca;
    }

    .loading {
        width: 100%;
        display: flex;
        justify-content: center;
        height: calc(100vh - 400px);
        align-items: center;
        .loader {
            @include loader05($color: #0652dd);
        }
    }
    .not-for-sell {
        text-decoration-line: line-through;
    }
    // .ant-popover-arrow {
    //     display: none;
    // }
    .ant-popover {
        .ant-popover-content {
            font-family: "Poppins", sans-serif;
            letter-spacing: 0.04rem;
            .ant-popover-inner {
                border-radius: 8px;
                .ant-popover-title {
                    font-weight: bolder;
                    padding: 12px 16px;
                }
            }
        }
    }
    .wallet-actions {
        display: flex;
        flex-flow: column;
        button {
            border-radius: 8px;
            font-weight: bolder;
            height: 48px;
            margin: 8px 0;
        }
    }
    .connect-wallet,
    .create-wallet {
        height: 0;
        overflow: hidden;
        -moz-animation: slide 1s ease 320ms forwards;
        -webkit-animation: slide 1s ease 320ms forwards;
        -o-animation: slide 1s ease 320ms forwards;
        -ms-animation: slide 1s ease 320ms forwards;
        animation: slide 1s ease 320ms forwards;
        input {
            height: 40px;
            border-radius: 6px;
        }
    }
    @keyframes slide {
        from {
            height: 0;
        }
        to {
            height: 164px;
        }
    }
    .ant-modal-content {
        border-radius: 12px;
    }
    .ant-modal-header {
        border-radius: 12px 12px 0 0;
    }
    .ant-modal-footer {
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;
        button {
            min-width: 80px;
            height: 40px;
            border-radius: 8px;
        }
    }
    header {
        z-index: 1;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;

            .nav-banner {
                width: 140px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo-outter {
                    width: 40px;
                    height: 40px;
                    background: #f1f1f1;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
                h4 {
                    font-weight: bold;
                    margin: 0;
                }
            }
            .nav-search-bar {
                width: 560px;
                display: flex;
                align-items: center;
                input.ant-input {
                    height: 40px;
                    border-radius: 6px;
                }
                button {
                    border-radius: 0 6px 6px 0 !important;
                    height: 40px;
                    background: #0652dd;
                    border: 1px solid #0652dd;
                }
                .ant-input-group-addon {
                    background: transparent;
                }
            }
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                align-content: center;
                li {
                    margin: 0 16px;
                    list-style: none;
                    h4 {
                        color: rgb(50, 50, 50);
                        font-weight: bolder;
                        margin: 0;
                    }
                    h4:hover {
                        color: #101010;
                    }
                }
            }
            .authenticate-actions {
                margin-left: 32px;
                display: flex;
                align-items: center;
                button {
                    background: #efefef;
                    width: 40px;
                    height: 40px;
                }
                button:hover {
                    background: rgb(40, 40, 40);
                    border-color: rgb(40, 40, 40);
                    color: rgb(236, 236, 236);
                }
                .profile {
                    .mock-pfp {
                        border-radius: 100%;
                        width: 40px;
                        height: 40px;
                        background-color: #2a2a2a;
                    }
                }
            }
        }
    }
    .ant-popover {
        width: 240px;
    }
    .popover-content {
        .account-info {
            .account-balance {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    main {
        width: 100%;
        margin: 0 auto;
    }
    footer {
        text-align: center;
        margin-top: 80px;

        .nav-banner {
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo-outter {
                width: 40px;
                height: 40px;
                background: #f1f1f1;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
            h4 {
                font-weight: bold;
                margin: 0;
            }
        }
    }
}
